/*-------------- VARIAVEIS COLORS -----------------*/
:root {
/*------- BACKGROUND SIMPLE -------*/
    --black: black;
    --blue: rgb(37, 49, 109);
    --purple: rgb(39, 0, 130);

/*------- BACKGROUND GRADIENT --------*/
    --dark1: rgb(3, 0, 28) 40%, rgb(48, 30, 103), rgb(91, 143, 185), rgb(182, 234, 218);
    --dark2: rgb(26, 26, 64) 40%, rgb(33, 0, 110), rgb(122, 11, 192), rgba(138, 0, 80, 0.914);
    --night: rgb(0, 0, 0) 40%, rgb(40, 42, 58), rgb(115, 95, 50), rgb(198, 151, 73);
    --day1: rgb(22, 36, 106) 40%, rgb(95, 111, 148), rgb(53, 138, 175), rgb(252, 225, 23);
    --day2: rgb(6, 40, 61) 40%,  rgb(15, 72, 157), rgb(40, 101, 142), rgb(122, 137, 143);
    --day3: rgb(3, 4, 94) 40%, rgb(0, 58, 151), rgb(57, 150, 166), rgba(202, 240, 248, 0.486);

/*------- FACES --------*/
    --darkblue: black 50%, blue;
    --darkred: black 50%, red;
    --darkyellow: black 50%, rgb(193, 190, 0);
    --darkpink: black 50%, rgb(99, 3, 188);
}


/*------------------ Gradiente --------------------*/
body {
    /*----- Size -----*/
    width: 100%;
    height: 100%;
    /*----- Position -----*/
    display: flex;
    justify-content: center;
    margin: 0;
}

.color {
    /*----- Size -----*/
    width: 300vh;
    height: 100vh;
    /*----- Position -----*/
    margin: 0;
    /*----- Designer -----*/
    background: linear-gradient(45deg, var(--dark1));
    background-size: 300% 300%;
    /*----- Animation -----*/
    animation: colors 15s ease infinite;
}

/*----------------- ANIMATION ----------------*/
@keyframes colors {
    from {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    to {
        background-position: 0% 50%;
    }

}

/*------------------ Estrelado --------------------*/
.stars {
    /*----- Size -----*/
    width: 4px;
    height: 4px;
    /*----- Position -----*/
    margin-left: 38%;
    position: relative;
    display: block;
    /*----- Designer -----*/
    border-radius: 50%;
    box-shadow:
        200px -100px white,
        500px -50px white,
        60px 30px white,
        -300px 60px white,
        -200px 130px white,
        400px 200px white,
        600px 300px white,
        -250px 400px white,
        450px 400px white,
        -190px 500px white,
        40px 600px white,
        150px 700px white,
        100px 450px white,
        320px 760px white,
        -140px 900px white,
        1600px 300px white,
        -850px 390px white,
        1450px 440px white,
        -790px 570px white,
        140px 630px white,
        950px 780px white,
        1100px 650px white,
        1320px 60px white,
        -840px 900px white,
        -650px 830px white;
    /*----- Animation -----*/
    animation: anim-stars 5s linear infinite;
}

.stars::after {
    /*----- Size -----*/
    width: 4px;
    height: 4px;
    /*----- Position -----*/
    content: " ";
    position: absolute;
    top: 1000px;
    /*----- Designer -----*/
    border-radius: 50%;
    box-shadow:
        200px -100px white,
        500px -50px white,
        60px 30px white,
        -300px 60px white,
        -200px 130px white,
        400px 200px white,
        600px 300px white,
        -250px 400px white,
        450px 400px white,
        -190px 500px white,
        40px 600px white,
        150px 700px white,
        100px 450px white,
        320px 760px white,
        -140px 900px white,
        1600px 300px white,
        -850px 390px white,
        1450px 440px white,
        -790px 570px white,
        140px 630px white,
        950px 780px white,
        1100px 650px white,
        1320px 60px white,
        -840px 900px white,
        -650px 830px white;
}

/*----------------- ANIMATION ----------------*/
@keyframes anim-stars {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-1000px);
    }
}

/*--------------------- CUBE ----------------------*/
#cubo {
    /*----- Size -----*/
    width: auto;
    height: auto;
    /*----- 3D -----*/
    transform-style: preserve-3d;
}

.cube {
    /*----- Size -----*/
    width: 300px;
    height: 300px;
    /*----- Position -----*/
    margin-top: 39vh;
    margin-left: 38%;
    /*----- 3D -----*/
    transform-style: preserve-3d;
}

#cube_animation {
    animation: rotate2 10s linear infinite;
}

.face {
    /*----- Size -----*/
    width: 300px;
    height: 300px;
    /*----- Position -----*/
    position: absolute;
    display: flex;
    align-items: center;
    /*----- Designer -----*/
    border: 2px solid rgb(255, 255, 255);
    background: linear-gradient(-180deg, var(--darkblue));
    background-size: 175% 175%;
    opacity: 1;
    animation: 
    face 10s linear infinite;
}

.face_2 {
    /*----- Size -----*/
    width: 300px;
    height: 300px;
    /*----- Position -----*/
    position: absolute;
    display: flex;
    align-items: center;
    /*----- Designer -----*/
    border: 2px solid rgb(255, 255, 255);
    opacity: 1;
}

.front {
    transform: translateZ(150px);
}

.right {
    transform: rotateY(90deg) translateZ(150px);
}

.back {
    transform: rotateY(180deg) translateZ(150px);
}

.left {
    transform: rotateY(-90deg) translateZ(150px);
}

.top {
    transform: rotateX(90deg) translateZ(150px);
    background: black;
}

.bottom {
    transform: rotateX(-90deg) translateZ(150px);
    background: black;
}


/*----------------- ANIMATION ----------------*/

@keyframes rotate1 {
    from {
        
        transform: rotateX(0deg) rotateY(0deg);
    }

    to {
        transform: rotateZ(5deg);
        transform: rotateX(360deg) rotateY(360deg);
    }
}

@keyframes rotate2 {
    from {
        transform: rotateY(0deg) rotateX(5deg);
    }

    to {
        transform: rotateY(360deg) rotateX(5deg);
    }
}

@keyframes face {
    from {
        background-position: 0% 25%;
    }

    50% {
        background-position: 150% 100%;
    }

    to {
        background-position: 0% 25%;
    }
}

@keyframes border {
    from {
        border-color: white;
    }

    14% {
        border-color: red;
    }

    28% {
        border-color: orange;
    }

    42% {
        border-color: yellow;
    }

    56% {
        border-color: green;
    }

    70% {
        border-color: blue;
    }

    84% {
        border-color: indigo;
    }

    98% {
        border-color: purple;
    }

    to {
        border-color: white;
    }
}

/*--------------------- CONFIGS ---------------------*/
#botao {
    /*----- Size -----*/
    width: 60px;
    height: 60px;
    /*----- Designer -----*/
    background: transparent; 
    border-radius: 50%;
}
#img1 {
    /*----- Size -----*/
    width: 100%;
    height:100%;
}

#config {
    /*----- Size -----*/
    width: 580px;
    height: auto;
    /*----- Position -----*/
    margin-top: 10px;
    padding: 0;
    display: none;
    /*----- Designer -----*/
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    border: 3px solid rgb(251, 251, 251);
    border-radius: 10px;
    /*----- Animation -----*/
    transition: all 2s;
}


#config p {
    /*----- Position -----*/
    margin-top: 2px;
    margin-left: 5px;
    margin-bottom: 10px;
    padding: 0;

    /*----- Designer -----*/
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:  white;
}

.botoes_fundo {
    /*----- Position -----*/
    margin-left: 10px;
    margin-bottom: 10px;
    /*----- Designer -----*/
    font-size: 20px;
    border-radius: 20px;
    background-color: transparent;
    color: white;
}

.botoes_fundo_animation {
    /*----- Position -----*/
    margin-left: 10px;
    margin-bottom: 10px;
    /*----- Designer -----*/
    font-size: 20px;
    border-radius: 20px;
    background-color: transparent;
    color: white;
}

.botoes_stars {
    /*----- Position -----*/
    margin-left: 10px;
    margin-bottom: 10px;
    /*----- Designer -----*/
    font-size: 20px;
    border-radius: 20px;
    background-color: transparent;
    color: white;
}

.botoes_face {
    /*----- Position -----*/
    margin-left: 10px;
    margin-bottom: 10px;
    /*----- Designer -----*/
    font-size: 20px;
    border-radius: 20px;
    background-color: transparent;
    color: white;
}

.botoes_rotate {
    /*----- Position -----*/
    margin-left: 10px;
    margin-bottom: 10px;
    /*----- Designer -----*/
    font-size: 20px;
    border-radius: 20px;
    background-color: transparent;
    color: white;
}

#aply {
   /*----- Position -----*/
   margin-left: 10px;
   margin-bottom: 10px;
   /*----- Designer -----*/
   font-size: 20px;
   border-radius: 20px;
   background-color: transparent;
   color: white;
}