/*--------------------- BACKGROUND ---------------------*/
body {
  /*----- Size -----*/
  min-width: 100vw;
  min-height: 100vh;
  /*----- Position -----*/
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Minimal;
  src: url(../image/minimal.otf);
}

.color {
  /*----- Size -----*/
  width: 100vw;
  height: 100vh;
  /*----- Position -----*/
  margin: 0;
  position: relative;
  /*----- Designer -----*/
  background: linear-gradient(90deg, #000000, #050037, #000074);
  background-size: 300% 300%;
  /*----- Animation -----*/
  animation: colors 10s ease infinite;
}

/*--------------------- CUBE ---------------------*/

#cubo {
  /*----- Size -----*/
  width: auto;
  height: auto;
  /*----- 3D -----*/
  transform-style: preserve-3d;
}

.cube {
  /*----- Size -----*/
  width: 30vw;
  height: 30vh;
  /*----- Position -----*/
  margin: 35vh auto;
  background-color: transparent;
  z-index: 9999;
  display: flex;
  /*----- 3D -----*/
  transform-style: preserve-3d;
  transform: rotateX(50deg) rotateY(20deg);
}

.face_1 {
  /*----- Size -----*/
  width: 100%;
  height: 100%;
  /*----- Position -----*/
  position: absolute;
  display: flex;
  align-items: center;
  /*----- Designer -----*/
  border: 2px solid black;
  background: linear-gradient(-180deg, #0b006d 30%, #ff0000 80%);
  background-size: 125% 125%;
  opacity: 1;
}

.face_2 {
  /*----- Size -----*/
  width: 100%;
  height: 100%;
  /*----- Position -----*/
  position: absolute;
  display: flex;
  align-items: center;
  /*----- Designer -----*/
  border: transparent;
  opacity: 1;
}

.front {
  --space_face: 0;
  transform: translateZ(calc(var(--space_face) * 1px));
}

.left {
  --space_face: 0;
  transform: rotateY(-90deg) translateZ(calc(var(--space_face) * 1px));
}

.right {
  --space_face: 0;
  transform: rotateY(90deg) translateZ(calc(var(--space_face) * 1px));
}

.back {
  --space_face: 0;
  transform: rotateY(180deg) translateZ(calc(var(--space_face) * 1px));
}

.top {
  --space_face: 0;
  transform: rotateX(90deg) translateZ(calc(var(--space_face) * 1px));
  background-color: #0b006d;
}

.bottom {
  --space_face: 0;
  transform: rotateX(-90deg) translateZ(calc(var(--space_face) * 1px));
  background-color: #ff0000;
}

.shadow {
  --space_face: 0;
  transform: rotateX(-90deg) translateZ(calc(var(--space_face) * 1.25px));
  background-color: #ff0000;
  filter: blur(20px);
  border: none;
  box-shadow: 0px 20px 200px 150px #ff0000;
}

/*--------------------- BUTTON CONFIG ---------------------*/
#img1 {
  width: 100%;
  height: 100%;
}

.buttonClick {
  width: 70px;
  height: 70px;
  padding: 5px;
  margin: 2px;

  position: absolute;
  display: none;

  background-color: white;
  border: 2px solid white;
  border-radius: 10%;
}

.button {
  width: 100%;

  margin: 2px auto;
  position: relative;

  border: none;
  background-color: transparent;
}

/*--------------------- BOX CONFIG ---------------------*/
.boxConfig {
  width: 100%;
  height: 20%;
  max-height: 300px;
  min-height: 200px;

  margin: 0 auto;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;

  background-color: rgba(184, 184, 184, 0.315);
  border-bottom: 2px solid white;
}

.orgBoxConfig {
  width: 85%;
  left: 0;
  display: flex;
  position: ab;
  margin: 2px 5px;

  font-family: "Minimal";
}

.orgBoxConfig p {
  margin: 0;
  font-size: 30px;
  text-align: center;
}

.boxButton {
  position: absolute;
  display: inline-block;

  right: 0;
  bottom: 0;
}

.boxButton button {
  width: calc(10vw + 5px);
  height: calc(5vh + 2px);

  display: inline-block;

  background-color: rgba(245, 245, 245, 0.603);
  border: 1px solid black;
  border-radius: 10%;
  font-size: 25px;
  font-family: "Minimal";
}


.boxButton button:hover {
  background-color: rgba(0, 0, 0, 0.603);
  border: 1px solid rgb(255, 255, 255);
  color: white;

}

.box {
  margin: 5px;

  flex-grow: 1;
  box-sizing: border-box;
  border-right: 2px solid white;
}

.box p {
  margin-top: 0px;
}

.boxInput p {
  top: 2px;

  color: white;
}

.boxInput input {
  margin-bottom: 3px;
  font-size: 20px;
  border-radius: 5px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: 1px solid white;
}

.boxInput input:hover {
  border: 2px solid white;
}